/* Home Page */
body {
    background-color: var(--base-color);
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Theme Variables */
:root {
    --base-color: white;
    --text-color: #1E1E1E;
    --secondary-text: rgb(161, 186, 206);
    --primary-color: rgb(161, 186, 206);
    --accent-color: #0071ff;
    --gradient-blue: linear-gradient(to right, #4776ce, #2e309e, #222962);
}

.darkmode {
    --base-color: #1A1A1B;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #c2c4cd;
    --accent-color: #0071ff;
    --gradient-blue: linear-gradient(to right, #4776ce, #2e309e, #222962);
}

/*Smooth scrolling per nav*/
html {
  scroll-behavior: smooth;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
    margin: 1rem auto;
    max-width: 1200px;
}

section {
  padding-top: 80px;
}

#theme-switch {
    height: 40px;
    width: 40px;
    min-width: 40px;
    border-radius: 50%;
    background-color: #e8e9ed;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
}

#theme-switch svg {
    fill: #3a435d; 
}
#theme-switch svg:last-child { display: none; }
.darkmode #theme-switch svg:first-child { display: none; }
.darkmode #theme-switch svg:last-child { display: block; }

.header button {
  padding: 1rem 1%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.header h1 {
  margin: 0;
  font-weight: bold;
  background-image: var(--gradient-blue);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size: 40px;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 7rem;
  font-size: 20px;
  font-weight: 100;
}

.header ul li a {
  text-decoration: none;
  color: var(--text-color);
  position: relative;
  padding: 5px 0;
}
.header ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: var(--text-color);
  transition: width 0.3s ease;
}
.header ul li a:hover::after,
.header ul li a.active::after {
  width: 100%;
}

/* Content */
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 20%;
    flex-wrap: wrap;
}

.text {
    max-width: 500px;
    color: var(--text-color);
    flex: 1 1 300px;
}

.name-highlight {
    font-size: 55px;
    font-weight: bold;
    background-image: var(--gradient-blue);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.content h1 {
     font-size: 50px;
     margin-bottom: 10px;
}

.content p {
    font-size: 25px;
    margin-top: 10px;
}

.text .btn {
    display: inline-block;
    text-align: center;
    line-height: 50px;
    background-image: var(--gradient-blue);
    border-radius: 24px;
    height: 50px;
    width: 140px;
    border: none;
    margin-top: 1rem;
    margin-right: 15px;
    color: white;
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.text .btn:hover {
    transform: scale(1.05);
    background-image: linear-gradient(to right, #3a5fa8, #1f1f7a, #151744);
}

.content img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem auto;
    box-shadow: 0 4px 10px 0px var(--text-color);
}

/* ---------------------- About Section ---------------------- */
#about {
    padding: 6rem 20%;
    color: var(--text-color);
    text-align: center;
}

#about h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.about-card {
    border: 1px solid var(--text-color);
    border-radius: 10px;
    padding: 1.5rem;
    margin: 1rem auto;
    max-width: 700px;
    text-align: left;
}

.about-card h3 {
    background-image: var(--gradient-blue);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin-bottom: 3px;
    margin-top: 3px;
    font-size: 1.5rem;
}

.about-card p {
    font-size: 1rem;
    line-height: 1.6;
}

.darkmode .about-card {
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.04);
}

/* Skills Section */
#skills {
    padding: 60px 100px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: var(--text-color);
}

.section-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.skills-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skill-card {
    border: 1px solid #555;
    border-radius: 10px;
    padding: 20px;
    width: 320px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skill-card .icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 5px;
}

.skill-card h3 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
}

.icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.icon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon img {
    width: 45px;
    height: 45px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.icon:hover img {
    transform: scale(1.1);
}

.icon span {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 400;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.icon:hover span {
    opacity: 1;
    visibility: visible;
}

.skills-description {
    background-color: transparent;
    border: 1px solid #555;
    border-radius: 10px;
    padding: 30px;
    width: 380px;
    text-align: justify;
    font-size: 14px;
    line-height: 1.8;
    margin-top: 300px; 
}

/*---Project Section---*/
#project {
  text-align: center;
  padding: 100px 10%;
  color: var(--text-color);
}

#project h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  justify-items: center;
  margin-top: 40px;
}

.project-card {
  background-color: var(--base-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
}

.project-card img {
  margin-top: 25px;
  max-width: 100%;
  height: auto;
}

.project-card h3 {
  margin: 15px 0 10px;
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
}

.project-card p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 15px;
  color: var(--text-color);
}

.project-info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: var(--text-color);
}

.project-info a {
  text-decoration: none;
  color: var(--text-color);
}

.project-info a:hover {
  text-decoration: underline;
}

/*---Contact Page---*/
#contact {
  text-align: center;
  padding: 100px 150px;
  color: var(--text-color);
}

#contact h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  height: 400px;
}

.contact-container img {
  width: 30px;
  height: 30px;
}

.contact-icon {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 80px 150px;
}

.contact-icon h1 {
  margin-bottom: 40px;
  background-image: var(--gradient-blue);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size: 40px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-item img {
  width: 40px;
  height: 40px;
}

.contact-item span {
  font-size: 16px;
}

.contact-socmed {
  margin-top: 10px;
  display: flex;
  justify-content: start;
  gap: 20px;
}

.contact-socmed img {
  transition: transform 0.5s ease;
}

.contact-socmed img:hover {
  transform: scale(1.3);
}

.contact-socmed img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.contact-message {
  margin: 70px;
  width: 500px;
}

.contact-message h1 {
  background-image: var(--gradient-blue);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 30px; 
  padding: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  max-width: 350px;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 5px;
  color: var(--text-color);
  box-sizing: border-box; 
  font-family: 'Poppins';
}

.contact-form button {
  background-image: var(--gradient-blue);
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 30px;
  border: 0;
  height: 50px;
  width: 150px;
  transition: all 0.3s ease;
}

.contact-form button:hover {
    transform: scale(1.05);
    background-image: linear-gradient(to right, #3a5fa8, #1f1f7a, #151744);
}

/*--FOOTER--*/
footer {
  background-image: var(--gradient-blue);
  color: white;
  text-align: center;
  padding: 0.1px 0;
}

footer h3 {
  font-size: 18px;
  font-weight: 500;
}

/* 📱 Tablets and Medium Screens (max-width: 992px) */
@media (max-width: 992px) {
  .header {
    padding: 1rem 5%;
  }

  .header ul {
    gap: 3rem;
  }

  .content {
    flex-direction: column;
    text-align: center;
    padding: 4rem 10%;
    gap: 2rem;
  }

  .text {
    max-width: 100%;
  }

  #about {
    padding: 4rem 10%;
  }

  #skills {
    padding: 60px 5%;
  }

  .skills-container {
    flex-direction: column;
    align-items: center;
  }

  .skills-description {
    margin-top: 20px;
    width: 100%;
    max-width: 380px;
  }

  #contact {
    padding: 100px 5%;
  }

  .contact-container {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .contact-icon {
    padding: 40px 20px;
    align-items: center;
  }

  .contact-message {
    width: 90%;
    max-width: 500px;
    margin: 20px 0;
  }
}

/* 📲 Mobile Phones (max-width: 768px) */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }

  .header h1 {
    font-size: 28px;
  }

  .header ul {
    gap: 1.5rem;
    font-size: 16px;
  }

  section {
    padding-top: 140px;
  }

  .content {
    padding: 4rem 5%;
  }

  .content h1 {
    font-size: 30px;
  }

  .name-highlight {
    font-size: 36px;
  }

  .content img {
    width: 250px;
    height: 250px;
  }

  #about {
    padding: 4rem 5%;
  }

  #skills {
    padding: 40px 20px;
  }

  .skills-container {
    flex-direction: column;
  }

  .skill-card {
    width: 100%;
    max-width: 320px;
  }

  .skills-description {
    margin-top: 20px;
    width: 100%;
    max-width: 380px;
  }

  .project-card {
    width: 100%;
    max-width: 300px;
  }

  .contact-item span {
    font-size: 14px;
    word-break: break-word;
  }
}

/* 📱 Small Phones (max-width: 480px) */
@media (max-width: 480px) {
  .header h1 {
    font-size: 22px;
  }

  .header ul {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  section {
    padding-top: 180px;
  }

  .content h1 {
    font-size: 24px;
  }

  .name-highlight {
    font-size: 28px;
  }

  .content p {
    font-size: 18px;
  }

  .text .btn {
    width: 120px;
    font-size: 16px;
  }

  .contact-container {
    padding: 10px;
  }

  .contact-icon {
    padding: 20px;
  }

  .contact-icon h1 {
    font-size: 28px;
  }

  .contact-message h1 {
    font-size: 28px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }

  .contact-form button {
    width: 120px;
    font-size: 16px;
  }
}